[user]
    name = Philip Harrison
    email = philip@mailharrison.com
    signingkey = 0xF6F4212756997CEF

[github]
    user = feelepxyz

[core]
    excludesfile = ~/.gitignore

[init]
    defaultBranch = main

[push]
    default = current

[pull]
    # Default to rebasing on pulls
    rebase = true

[fetch]
    # Always prune when fetching (and pulling).
    prune = true

[gc]
    # Write commit graph to speed up some repositories.
    writeCommitGraph = true

[rerere]
    # Store and re-use manual conflict resolution changes.
    enabled = true

[rebase]
    # Run `git stash` if needed before a `git rebase`
    autoStash = true
    # Auto-add `--autosquash` to `git rebase`
    autoSquash = true

[merge]
    tool = vscode

[mergetool "vscode"]
    cmd = $EDITOR --wait $MERGED

[diff]
    # Use the slower but better patience diff algorithm
    algorithm = patience
    # Use new diff algorithm to make e.g. function diffs look better.
    compactionheuristic = true
    tool = vscode

[difftool "vscode"]
    cmd = $EDITOR --wait --diff $LOCAL $REMOTE

[color]
    ui = auto

[alias]
    all = add -A
    c = commit
    com = commit -m
    d = diff
    pullr = pull --rebase
    pushf = push --force-with-lease
    amd = commit --amend --no-edit
    s = status -sb
    co = checkout
    cob = checkout -b
    l = log --topo-order --decorate
    lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %C(black bold)- %an %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    unstage = reset HEAD
    undo = reset HEAD~1 --mixed
    grep = grep -nw
    bra = !git branch --color -v | cut -c1-100
    prune-remote = !git remote | xargs -n 1 git remote prune
    prune-local = !git branch --merged | tr -d '*' | grep -v dev | xargs -n1 git branch -d
    fix-conflict = mergetool

[gpg]
    program = gpg

[commit]
    gpgsign = true
    # Show the diff as a comment in the commit message template.
    verbose = true

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[core]
    # Exclude everything this file. Used for general exclusions.
    excludesfile = ~/.gitignore
    # Set attributes on files. Used for general diff improvements.
    attributesfile = ~/.gitattributes
    # Don't prompt for commit messages for merge commits.
    mergeoptions = --no-edit
    # Speed up some repositories.
    commitGraph = true

[url "git@github.com:"]
    # Use GitHub SSH protocol instead of HTTPS and GIT
    # Allows use of git:// for public repositories with push access and cloning
    # private https:// repositories
    insteadOf = "https://github.com/"
    insteadOf = "git://github.com/"

[protocol]
    # Use Git v2 protocol for better performance
    version = 2
