[include]
    path = .gitconfig.local

[user]
    name = Philip Harrison
    email = philip@mailharrison.com

[core]
    excludesfile = ~/.gitignore
    editor = /usr/bin/vim

[push]
    default = simple

[color]
    ui = auto

[alias]
    c  = commit
    s = status -sb
    co = checkout
    l = log --topo-order --decorate
    lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %C(black bold)- %an %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    unstage = reset HEAD
    grep = grep -nw
    bv = !git branch --color -v | cut -c1-100
    prune-remote = !git remote | xargs -n 1 git remote prune
    prune-local = !git branch --merged | tr -d '*' | grep -v dev | xargs -n1 git branch -d
    undo = reset HEAD~1 --mixed
    pf = push --force-with-lease
